.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.clickable-icon {
    cursor: pointer;
    font-size: 28px;
    color: #71BF44;
}

.clickable-icon:hover {
    color: #518630;
}

.form-select {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.drag-area {
    border: 2px dashed #DEE2E6;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.drag-area .icon {
    font-size: 40px;
    color: black;
}

.drag-area header {
    font-size: 10px;
    margin: 17x 0;
    color: #444;
}

.drag-area span {
    font-size: 14px;
    color: #777;
}

.drag-area button {
    padding: 8px 15px;
    margin-top: 15px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.drag-area input[type="file"] {
    display: none;
}

.status-column {
    width: 30px !important;
}

.data {
    font-size: 14px;
}

.data-tables {
    font-size: 15px;
}
#submitForm {
    background-color: #71BF44;
    color: white; 
    border: none; 
    cursor: default; 
}

#submitForm:not(:disabled) {
    cursor: pointer; 
}

#submitForm:not(:disabled):hover {
    background-color: #017358;
}

#submitEditForm {
    background-color: #71BF44; 
    border-color: #71BF44; 
    cursor: default; 
}

#submitEditForm:not(:disabled) {
    cursor: pointer; 
}

#submitEditForm:not(:disabled):hover {
    background-color: #017358;
}

select#documentType option:hover {
    background-color: #017358; 
    color: #ffffff; 
}
.form-check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #222222;
    border-radius: 3px;
    outline: none; 
    cursor: pointer; 
    position: relative; 
    margin-bottom: 2px; 
}

.form-check-input:checked {
    background-color: #71BF44; 
}

.form-check-input::before {
    content: ''; 
    display: block;
    width: 6px; 
    height: 12px;
    border: solid white; 
    border-width: 0 2px 2px 0; 
    transform: translate(-50%, -50%) rotate(45deg); 
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform-origin: center; 
}

.form-check-label {
    color: #333; 
    margin-left: 24px;
}
.col-lg-9{
    text-transform: capitalize;
    font-size: 16px;
}
td{
    font-size: 16px;
}
.form-check-input .form-check-input .label{
    font-size: 16px;
}
.file-drop{
    font-size: 16px;
}
input[type="checkbox"] {
    pointer-events: none;
}
.modal-title{
    font-weight: bold;
    font-size: 20px;
}

.link-style {
    cursor: pointer;
}

.link-style:hover {
    color: rgb(0, 0, 0);
background-color: rgb(248, 246, 250);
}

.no-notifications {
    text-align: center;
    padding: 10px;
    color: #555;
    font-size: 14px;
}

.notification-item-container.new-notification {
    background-color: #ffcccc;
}
