.step-content {
  display: none;
}

.step-content.active {
  display: block;
}

.registration {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 130px;
}

.stepper-nav {
  display: flex;
  justify-content: space-between;
}

.stepper-item {
  flex: 1;
  text-align: center;
}

.stepper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepper-icon {
  margin-bottom: 5px;
}

.round-border {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepper-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepper-desc {
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}

.stepper-number {
  background-color: #D9D9D9;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
}

.stepper-item.done .stepper-number {
  background-color: #518630;
  color: #fff;
}

.stepper-item.current .stepper-number {
  background-color: #518630;
  color: #fff;
}

.termscondition {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.contentterms {
  font-size: 14px;
}

.form-control-long {
  width: 100%;
}

.form-control {
  color: black;
  border: 1px solid #B0B0B0;
  box-shadow: 1px 1px 1px rgba(204, 203, 203, 0.4);
}

.form-check-input {
  border: 1px solid #B0B0B0;
  box-shadow: 1px 1px 1px rgba(204, 203, 203, 0.4);
}

.form-label {
  font-size: 14px;

}

.form-select {
  border: 1px solid #B0B0B0;
  box-shadow: 1px 1px 1px rgba(204, 203, 203, 0.4);
}

.grades {
  font-weight: bold;
}

.next-button {
  margin-right: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.previous-button {
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.submit-button {
  margin-right: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.form-group input.form-control {
  margin-bottom: 12px;
}

.card {
  border: 1px solid #B0B0B0;
  box-shadow: 1px 1px 1px rgba(92, 92, 92, 0.4);
}
.stepper-nav {
  position: relative;
  padding-bottom: 10px; 
}

.stepper-nav::before {
  content: "";
  position: absolute;
  bottom: 70%; 
  left: 0;
  width: 80%;
  height: 1px;
  margin-left:10% ;
  background-color: #000; 
  z-index: -1;
}

.stepper-item {
  position: relative;
  z-index: 1;
}
/* submission message  */

.submission-message {
  text-align: center;
  margin: 250px auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  max-width: 75%;
  border: 3px solid #d7d7d7;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #969696;
  padding: 25px;
}

@media (max-width: 767px) {
  .stepper-nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
    padding-bottom: 5px;
    margin-bottom: 10px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin; 
    scrollbar-color: gray lightgray; 
  }

  .stepper-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 5px;
  }

  .stepper-number {
    font-size: 14px; 
    padding: 4px 8px;
  }

  .stepper-desc {
    font-size: 9px;
    max-width: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 3;
    -ms-line-clamp: 3;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    line-height: 1.3em;
  }
}


