.faq-container {
    width: 80%;
    margin: auto;
  }
  
  .faq-question {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: left;
    font-weight: bold;
    position: relative;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;
  
  }
  
  .faq-answer {
    display: none;
    padding-top: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 5px;
  }
  
  .faq-question::after {
    content: '\002B';
    font-size: 30px;
    color: #71BF44;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px; 
    display: inline-block; 
  }
  
  .faq-question.active::after {
    content: '\2212';
  }
  
  @media (max-width: 768px) {
    .faq-container {
      width: 100%;
    }
  
    .faq-question {
      font-size: 15px;
    }
  
    .section-title h2 {
      font-size: 25px;
    }
    .section-title h3 {
      font-size: 25px;
    }
  }
  /* span{
    color: red; 
    font-size: 16px; 
    font-weight: normal;
  } */
  .footer {
    background: #f6f6f6;
    padding: 0 0 30px 0;
    font-size: 14px;
   
   
  }
  
  .footer .footer-newsletter {
    padding: 50px 0;
    background: #f6f9ff;
    border-top: 1px solid #e1ecff;
  }
  
  .footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    color: #017358;
  }
  
  .footer .footer-newsletter form {
    margin-top: 20px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #e1ecff;
  }
  
  .footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 8px;
    width: calc(100% - 140px);
  }
  
  .footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: #017358;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .footer .footer-newsletter form input[type=submit]:hover {
    background: #017358;
  }
  
  .footer .footer-top {
    background: white url(../img/footer-bg.png) no-repeat right top;
    background-size: contain;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding: 60px 0 30px 100px;
  }
  
  @media (max-width: 992px) {
    .footer .footer-top {
      background-position: center bottom;
    
    }
  }
  
  .footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  .footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 15px;
  }
  
  .footer .footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-top .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #017358;
    font-family: "Arial", "San-serif";
    margin-top: 3px;
  }
  
  .footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
  }
  
  
  
  .footer .footer-top .social-links a:hover {
    color: #012970;
  }
  
  .footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #017358;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #d0d4fc;
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-top .footer-links ul a {
    color: rgb(243, 243, 243); 
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    font-size: 17px;
  }
  
  .footer .footer-top .footer-links ul a:hover {
    color: #313131;
  }
  
  .footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  
  .footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #017358;
  }
  .h4{
      color: white;
  }
  .thin-chevron {
      font-size: 1.5em; /* Adjust the size as needed */
      font-weight: 10; /* Use a lighter font weight for a thinner stroke */
    }